/* 
Основная политра
Основной цвет текста-#757575 
Цвет заголовков-#212121
Цвет подписи-#FFFFFF
Цвет анимации - #2196f3
 */

:root {
  --main-text-color: #757575;
  --header-color: #212121;
  --main-header-color: #ffffff;
  --animation-color: #2196f3;
}

/* Логотип */
